.basket__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1128px;
    padding-right: 10px;
    padding-left: 10px;

    .basket__clear-button {
        width: 172px;
        height: 52px;
        margin-bottom: 30px;
        background-color: #121212;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        cursor: pointer;

        @media (max-width: 610px) {
            width: 129px;
            height: 32px;
            margin-bottom: 30px;
            background-color: #121212;
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            cursor: pointer;
        }
    }

    .basket__total-price {
        margin-bottom: 10px;

        @media (max-width: 500px) {
            font-size: 20px;
            margin-bottom: 0px;
        }
    }

    .basket__total-price__old {
        margin-bottom: 10px;
        text-decoration: line-through;
        opacity: 0.5;
    }

    .basket__products-header {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;

        @media (max-width: 500px) {
            grid-template-columns: 35% 65%;
        }

        .products-header__left {
            display: flex;
            column-gap: 16px;

            @media (max-width: 610px) {
                display: none;
            }
        }

        .products-header__right {
            display: flex;
            justify-content: space-between;

            @media (max-width: 610px) {
                display: none;
            }
        }
    }

    .basket__item {
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        border-bottom: 2px solid darkgrey;
        align-items: center;

        @media (max-width: 610px) {
            display: flex;
            flex-direction: column;
        }

        .basket__item__left {
            display: flex;
            column-gap: 16px;

            .basket__item-image img {
                width: 77px;
                height: 102px;
            }

            .bakset__item-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .bakset__item-attributes {
                    display: flex;
                    column-gap: 5px;
                }
            }
        }

        .basket__item__right {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 610px) {
                width: 100%;
                justify-content: space-evenly;
            }

            .basket__item__quantity {
                padding: 12px 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90px;
                height: 40px;
                border: 1px solid #cbcbcb;

                .quantity__button {
                    background: transparent;
                    font-size: 16px;

                    outline: none;
                    border: none;
                    cursor: pointer;
                }

                .quantity__button img {
                    width: 20px;
                    height: 20px;
                }
            }

            .promocode__prices-block {
                display: flex;
                column-gap: 10px;

                .product__price-old {
                    font-family: Inter, serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    text-decoration: line-through;
                    // margin-bottom: 15px;
                    opacity: 0.5;
                }
            }
        }
    }

    .basket__empty-message {
        display: flex;
        align-items: center;
        height: 300px;
    }

    .promo-code__form {
        align-self: flex-start;
        display: flex;
        align-items: baseline;
        column-gap: 10px;
        margin-bottom: 20px;

        input {
            height: 35px;
        }

        span {
            display: block;
            justify-items: center;
        }

        .promo-code__button {
            height: 33px;
            width: 75px;
            background-color: #121212;
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            cursor: pointer;
        }
    }

    .basket__total-prices {
        display: flex;
        column-gap: 10px;

        @media (max-width: 500px) {
            flex-direction: column;
            text-align: center;
        }
    }
}

.basket__item-remove {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 3px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    padding-left: 10px;
    background: transparent;
    border: none;

    &::before {
        position: absolute;
        content: url("../../../assets/svg/trash.svg");
        top: 3px;
        left: 0;
        padding-left: 5px;
    }
}
