.login__container {
    margin: 0 auto;
    padding: 32px;
    max-width: 652px;

    .login__title,
    .login__description {
        text-align: center;
    }

    .login__subtitle {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0px 10px;

        @media (max-width: 490px) {
            margin-top: 12px;
        }
    }
}
