.registration__block{
  .registration__title {
    font-family: Space Grotesk;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
  }

  .registration__button {
    width: 588px;
    height: 72px;
    padding: 19px 44px;
    border-radius: 6px;
    background: #121212;
    font-family: Space Grotesk;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    color: #FFF;
  }
}


