.button-box {
    @media screen and (width < 760px) {
        margin-right: 0;
    }
}

.button-box,
.basket-button-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.circle {
    width: 1.25rem;
    height: 1.25rem;
    background-color: black;
    border-radius: 50%;
    display: inline;
    color: white;
    text-align: center;
    opacity: 0.8;
}
