.button-box {
    @media screen and (width < 760px) {
        margin-right: 0;
    }
}

.button-box,
.basket-button-box {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.circle {
    min-width: 22px;
    padding: 2px 7px;
    background: #121212;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
