.registration__input {
    padding: 13px 10px;
    width: 100%;
    border: 1px solid #cbcbcb;
    border-radius: 6px;
    outline: none;

    @media (max-width: 490px) {
        font-size: 12px;
        padding: 10px;
        gap: 24px;
    }
}
