.header {
    width: 100%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 19px;
    padding-bottom: 19px;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: 480px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    &__burger-wrapper {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__burger-button {
        background: none;
        border: none;
        cursor: pointer;
        display: none;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            display: flex;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 480px) {
            max-width: 114px;
        }
    }
}

.header-overlay {
    position: absolute;
    width: 100%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 0.5rem;
    transform: translateX(-50%);
    padding-top: 19px;
    padding-bottom: 19px;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: 345px) {
        justify-content: center;
    }
}
