.header {
    width: 100%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding: 19px 52px;

    @media (max-width: 490px) {
        padding: 19px 20px;
    }
}

.header-overlay {
    position: absolute;
    width: 100%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 0.5rem;
    transform: translateX(-50%);
    padding: 19px 52px;

    @media (max-width: 490px) {
        padding: 19px 20px;
    }
}
