.page__header {
    padding: 60px 20px;
    margin: 52px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;
    border-radius: 6px;
    background: url("../../../assets/bg-page-header.png") center center/cover no-repeat;

    @media (max-width: 480px) {
        padding: 40px 20px;
        margin: 0;
    }

    .page__description {
        max-width: 600px;
        line-height: 30px;

        @media (max-width: 480px) {
            font-size: 12px;
            line-height: 20px;
        }
    }

    .product__category-list {
        display: flex;
        align-items: center;
        column-gap: 5px;
        list-style-type: none;
        padding-left: 0;
        text-transform: capitalize;
    }

    .product__category-list a {
        text-decoration: none;
        color: #605f5f;
        transition: all 0.5s;

        &:hover {
            opacity: 0.5;
        }
    }

    .product__category-list__separator {
        content: url("../../../assets/svg/category-separator.svg");
        width: 15px;
        height: 13px;
    }
}
