.registration__block {
    display: flex;
    justify-content: center;

    .register__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }

    h1 {
        margin-bottom: 20px;
        text-align: center;
    }

    input {
        margin-bottom: 20px;
    }

    button {
        align-self: center;
        width: 30%;
    }
}
