.main-part {
    margin: 0 auto;
    background: url('../../../assets/home-image.png') no-repeat;
    background-size: cover;
    height: 75vh;
    padding-top: 10vh;
}

.some-content {
    display:flex;
    flex-direction: column;
    row-gap: 1rem;
}

.some-content .button {
    padding: .5rem;
    width: 80%;
}