.shop-page__wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
        grid-template-rows: none;
        grid-column-gap: initial;
        grid-row-gap: initial;
    }
}

.shop-page__product-cards {
    grid-area: 1 / 2 / 4 / 4;

    @media (max-width: 768px) {
        grid-area: initial;
    }
}

.shop-page__cards-container {
    margin-top: 16px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px 14px;

    a {
        text-decoration: none;
    }
}
