.shop-page {
    &__wrapper {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            grid-template-columns: none;
            grid-template-rows: none;
            grid-column-gap: initial;
            grid-row-gap: initial;
            padding: 16px 0;
        }
    }

    &__filter-button {
        padding-top: 16px;
        max-width: 70px;
        background: none;
        border: none;
        cursor: pointer;
        display: none;
        align-items: center;
        gap: 5px;

        @media (max-width: 768px) {
            display: flex;
        }
    }

    &__product-cards {
        grid-area: 1 / 2 / 4 / 4;

        @media (max-width: 768px) {
            grid-area: initial;
        }
    }

    &__cards-container {
        margin-top: 16px;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px 0;

        a {
            text-decoration: none;
        }

        @media (max-width: 1200px) {
            justify-content: space-around;
        }

        @media (max-width: 768px) {
            gap: 50px 10px;
        }
    }
}
