.shop-page__wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.shop-page__product-cards {
    grid-area: 1 / 2 / 4 / 4;
}

.shop-page__cards-container {
    margin-top: 16px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 76px 27px;
}
