@import url("commonStyle/colors.scss");

.product-card {
    display: flex;
    padding: 10px;
    border-radius: 6px;
    position: relative;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 248px;
    gap: 12px;
    transition: box-shadow 0.3s;
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            .product-card__img-wrapper img {
                transform: scale(1.1);
            }
        }
        &:hover {
            box-shadow: 0 1px 6px #ccccccd2;

            @media (max-width: 768) {
            }
        }
    }

    @media (max-width: 768px) {
        width: 160px;
        padding: 0;

        &:hover {
            box-shadow: none;
        }
    }

    @media (max-width: 380px) {
        width: 140px;
        padding: 0;
    }

    .sale__icon {
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 4px 15px;
        border-radius: 4px;
        background-color: $color-green;
        z-index: 2;

        @media (max-width: 768px) {
            top: 10px;
            left: 10px;
        }
    }

    &__img-wrapper {
        width: 228px;
        height: 304px;
        border-radius: 6px;
        overflow: hidden;

        @media (max-width: 768px) {
            width: 160px;
            height: 220px;
        }

        @media (max-width: 380px) {
            width: 140px;
            height: 220px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: all 0.3s;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }

    &__description {
        @media (max-width: 480px) {
            display: none;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }

    .discount-price {
        text-decoration: line-through;
    }
}
