@import "commonStyle/colors.scss";

.profile-navbar {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.profile-navbar * {
    cursor: pointer;
    font-family: SpaceGrotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: $color-black-600;
    text-align: center;
}

.profile-navbar *:hover {
    color: $color-black;
}

a {
    text-decoration: none;
    color: $color-black-600;
}

.profile-navbar .active {
    color: $color-black;
    border-bottom: 2px solid $color-black-600;
}

.profile-tittle {
    display: flex;
    justify-content: center;
}

.profile-container {
    display: grid;
    grid-template-columns: 20% auto;
    margin-left: 4rem;
    margin-top: 2rem;
}

.adress {
    display: flex;
width: 424px;
padding: 32px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-radius: 6px;
border: 1px solid var(--black-300, #CBCBCB);
background: var(--white, #FFF);
}

.edit-button {
    border: none;
    background-color: transparent;
    display: flex;
    cursor: pointer;
    opacity: 0.8;
}

.edit-button:hover {
    opacity: 1;
}

.adress-tittle {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.adresses,
.details,
.change-password {
    margin-left: 3rem;
}

.button-logout {
    border: none;
    background-color: transparent;
}

.password-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: flex-start;
}