.button-icon {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 12px;
    outline: none;

    @media (max-width: 490px) {
        top: 6px;
    }
}
