.sorting {
    padding: 7px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #sorting-select {
        border: none;
        outline: none;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
